
<ion-view view-title="{{chat.name}}">
    <ion-nav-bar class="bar-stable bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        
 </ion-nav-bar>
  <ion-content class="padding">
      <div class="list card">
          
            <div class="item item-avatar">
                <img ng-src="{{chat.face}}">
              <h2> {{chat.lastText}}</h2>
              <p> {{chat.lastText}}</p>
              <p class="subdued">เมื่อ 11-03-2016 13:02:46</p>
            </div>
          
            <div class="item item-body">
              <img class="full-image" ng-src="{{chat.face}}">
              <p>
                  {{chat.lastText}}
              </p>
              <p>
                  <button class="button button-clear button-positive" ng-click="alert('aaaaa')">1 
                      ถูกใจให้เป็ด </button>
                    <button class="button button-clear button-positive">5 Comments </button>
              </p>
            </div>
          
          </div>
  </ion-content>
</ion-view>
