<ion-view view-title="{{chat.name}}">
    <ion-nav-bar class="bar-stable bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
          <button class="button button-clear">
                        ตอบกระทู้
                    </button>
        </ion-nav-buttons>
      </ion-nav-bar>
  <ion-content class="padding has-footer">
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="https://ionicframework.com/img/docs/venkman.jpg">
        <h2> Username </h2>
        <p class="subdued">เมื่อ 11-03-2016 13:02:46</p>
      </div>

      <div class="item item-body">
        <p>
          comment1
        </p>
      </div>
    </div>

    <div class="list card">
        <div class="item item-avatar">
          <img ng-src="https://ionicframework.com/img/docs/venkman.jpg">
          <h2> Username </h2>
          <p class="subdued">เมื่อ 11-03-2016 13:02:46</p>
        </div>
  
        <div class="item item-body">
          <p>
            comment1
          </p>
        </div>
      </div>

      <div class="list card">
          <div class="item item-avatar">
            <img ng-src="https://ionicframework.com/img/docs/venkman.jpg">
            <h2> Username </h2>
            <p class="subdued">เมื่อ 11-03-2016 13:02:46</p>
          </div>
    
          <div class="item item-body">
            <p>
              comment1
            </p>
          </div>
        </div>

  </ion-content>
  <ion-footer-bar class="row-no-padding">
     
  </ion-footer-bar>
</ion-view>